backend/statemachine/interview_pipeline.asl.json
{
  "Comment": "InterviewIQ Interview Intelligence Pipeline — Orchestrates the complete flow from company input through brief generation. Handles parallel scraping and document processing.",
  "StartAt": "CreateSession",
  "States": {
    "CreateSession": {
      "Type": "Task",
      "Comment": "Creates a new interview session in DynamoDB with the provided company details.",
      "Resource": "${CreateSessionFunctionArn}",
      "Parameters": {
        "body.$": "States.JsonToString($)",
        "httpMethod": "POST"
      },
      "ResultPath": "$.sessionResult",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Lambda.ServiceException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "ParallelDataGathering"
    },
    "ParallelDataGathering": {
      "Type": "Parallel",
      "Comment": "Runs web scraping and document parsing in parallel to maximize throughput.",
      "Branches": [
        {
          "StartAt": "ScrapeCompany",
          "States": {
            "ScrapeCompany": {
              "Type": "Task",
              "Comment": "Scrapes public company information from web sources.",
              "Resource": "${ScrapeFunctionArn}",
              "Parameters": {
                "body.$": "States.JsonToString($)",
                "httpMethod": "POST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "ScrapeFailedFallback",
                  "ResultPath": "$.scrapeError"
                }
              ],
              "End": true
            },
            "ScrapeFailedFallback": {
              "Type": "Pass",
              "Comment": "If scraping fails, continue with empty data (mock data may still be available).",
              "Result": {
                "statusCode": 200,
                "body": "{\"source\": \"fallback\", \"summary\": {}}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "CheckDocuments",
          "States": {
            "CheckDocuments": {
              "Type": "Choice",
              "Comment": "Check if documents were provided for parsing.",
              "Choices": [
                {
                  "Variable": "$.documents[0]",
                  "IsPresent": true,
                  "Next": "ParseDocuments"
                }
              ],
              "Default": "NoDocuments"
            },
            "ParseDocuments": {
              "Type": "Task",
              "Comment": "Processes uploaded documents via Textract for text extraction.",
              "Resource": "${ParseDocumentFunctionArn}",
              "Parameters": {
                "body.$": "States.JsonToString($)",
                "httpMethod": "POST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 3,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "NoDocuments",
                  "ResultPath": "$.parseError"
                }
              ],
              "End": true
            },
            "NoDocuments": {
              "Type": "Pass",
              "Comment": "No documents provided — continue without parsed data.",
              "Result": {
                "statusCode": 200,
                "body": "{\"text_length\": 0, \"method\": \"none\"}"
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.gatheringResults",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "AnalyzeWithComprehend"
    },
    "AnalyzeWithComprehend": {
      "Type": "Task",
      "Comment": "Runs NLP analysis (entities, key phrases, sentiment) on gathered data using Comprehend.",
      "Resource": "${AnalyzeFunctionArn}",
      "Parameters": {
        "body.$": "States.JsonToString($)",
        "httpMethod": "POST"
      },
      "ResultPath": "$.analysisResult",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "GenerateBrief",
          "Comment": "If analysis fails, still try to generate brief with available data.",
          "ResultPath": "$.analysisError"
        }
      ],
      "Next": "GenerateBrief"
    },
    "GenerateBrief": {
      "Type": "Task",
      "Comment": "Generates the interviewer brief and interviewee packet using Bedrock/Claude. This is the core AI step.",
      "Resource": "${GenerateBriefFunctionArn}",
      "Parameters": {
        "body.$": "States.JsonToString($)",
        "httpMethod": "POST"
      },
      "ResultPath": "$.briefResult",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PipelineFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "PipelineComplete"
    },
    "PipelineComplete": {
      "Type": "Succeed",
      "Comment": "Pipeline completed successfully. Interviewer brief and interviewee packet are ready."
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Comment": "Pipeline failed at some step. Check error details for root cause.",
      "Cause": "InterviewIQ pipeline encountered an error",
      "Error": "PipelineError"
    }
  }
}